In [4]:
# import des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import precision_score, recall_score, f1_score

sns.set()

In [5]:
IP = pd.read_csv('/content/IpAddress_to_Country.csv')
FD = pd.read_csv('/content/Fraud_Data.csv')

In [6]:
#Merge des IPs avec country
def IP_to_country(ip) :
    try :
        return IP.country[(IP.lower_bound_ip_address <= ip)                            
                                & 
                                (IP.upper_bound_ip_address >= ip)].iloc[0]
    except IndexError :
        return "Unknown"

In [7]:
FD["IP_country"] = FD.ip_address.apply(IP_to_country)

In [8]:
FD.head()

   user_id          signup_time  ... class     IP_country
0    22058  2015-02-24 22:55:49  ...     0          Japan
1   333320  2015-06-07 20:39:50  ...     0  United States
2     1359  2015-01-01 18:52:44  ...     1  United States
3   150084  2015-04-28 21:13:25  ...     0        Unknown
4   221365  2015-07-21 07:09:52  ...     0  United States

[5 rows x 12 columns]

In [10]:
#Enregistre dans un csv le nouveau dataset
FD.to_csv("/content/IP_to_country.csv")